DirectoryIndex home.php

ErrorDocument 404 http://mpowered.umich.edu/careerfair/404.html

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php